n8n/my-workflow.json
{
    "name": "My workflow",
    "nodes": [
      {
        "parameters": {
          "owner": "namba06530",
          "repository": "OpenParental",
          "events": [
            "push"
          ],
          "options": {}
        },
        "type": "n8n-nodes-base.githubTrigger",
        "typeVersion": 1,
        "position": [
          0,
          0
        ],
        "name": "GitHub Trigger",
        "id": "d59cc07b-3c00-45b2-b0cb-c6255f76768e",
        "webhookId": "cf9086c3-a5e1-4035-a5dc-1fced411933f",
        "credentials": {
          "githubApi": {
            "id": "aKK8n3of97udUsCi",
            "name": "GitHub account"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "string": [
              {
                "value1": "={{$json[\"ref\"]}}",
                "value2": "refs/heads/feature/internet-quota-rework"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 1,
        "position": [
          300,
          0
        ],
        "name": "IF branche",
        "id": "beffb77e-1d32-48c0-8523-6c1e8ba30152"
      },
      {
        "parameters": {
          "resource": "file",
          "operation": "get",
          "owner": {
            "__rl": true,
            "value": "namba06530",
            "mode": "name"
          },
          "repository": {
            "__rl": true,
            "value": "OpenParental",
            "mode": "list",
            "cachedResultName": "OpenParental",
            "cachedResultUrl": "https://github.com/namba06530/OpenParental"
          },
          "filePath": "docs/plan-action.md",
          "additionalParameters": {
            "reference": ""
          }
        },
        "type": "n8n-nodes-base.github",
        "typeVersion": 1.1,
        "position": [
          520,
          -100
        ],
        "id": "0a2b2c10-490f-4274-a4bc-854f45e652a7",
        "name": "GitHub",
        "webhookId": "9d4fda2f-ccb0-4b2b-9750-63999ad7c459",
        "credentials": {
          "githubApi": {
            "id": "aKK8n3of97udUsCi",
            "name": "GitHub account"
          }
        }
      }
    ],
    "pinData": {},
    "connections": {
      "GitHub Trigger": {
        "main": [
          [
            {
              "node": "IF branche",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IF branche": {
        "main": [
          [
            {
              "node": "GitHub",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "active": true,
    "settings": {
      "executionOrder": "v1"
    },
    "versionId": "4fe090ee-bfdb-4b91-b5f5-d3ae1cd52dc4",
    "meta": {
      "templateCredsSetupCompleted": true,
      "instanceId": "064af51ef9374fb22b6a6319a2dc9b6cb1591d4049db75e7ad4ceaece874f99d"
    },
    "id": "JnlILGdpHA7MkNin",
    "tags": []
  }